@model IEnumerable<Processos.Models.Tipo_Processo>

@{
    ViewData["Title"] = "Tipos de Processo";
}

<h1>Tipos de Processo</h1>

<p>
    <a asp-action="Create">Adicionar um novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeTipoProcesso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeTipoProcesso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.codigoTipoProcesso">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.codigoTipoProcesso">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.codigoTipoProcesso">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
