@model Processos.Models.Processo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Processo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoInteressado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoInteressado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoTipoProcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoTipoProcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cpfProtocolista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpfProtocolista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoSetor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoSetor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.assunto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.assunto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="codigoProcesso" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
