@model Processos.Models.Processo

@{
    ViewData["Title"] = "Detalhes processo";
}



<div>
    <h4>Processo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoInteressado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoInteressado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoTipoProcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoTipoProcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cpfProtocolista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpfProtocolista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoSetor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoSetor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.assunto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.assunto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.codigoProcesso">Editar</a> |
    <button class="btn btn-outline-secondary"><a asp-controller="Processo" asp-action="Index">Voltar</a></button>
</div>
