@model Processos.Models.Usuario

@{
    ViewData["Title"] = "Excluir";
}


<h3>Você deseja excluir esse cadastro?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.senha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.senha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.administrativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.administrativo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="cpfUsuario" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
            <button class="btn btn-outline-secondary"><a asp-action="Index">Voltar</a></button>
    </form>
</div>
