@model Processos.Models.Usuario

@{
    ViewData["Title"] = "Detalhes";
}


<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.senha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.senha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.administrativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.administrativo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.cpfUsuario">Edit</a> |
    <button class="btn btn-outline-secondary"><a asp-controller="Usuario" asp-action="Index">Voltar</a></button>

</div>
