@model IEnumerable<Processos.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.administrativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.administrativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cpfUsuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cpfUsuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cpfUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
